<section class="fancy_form">

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= render partial: "application/notice", object: current_user %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %> For demo access use: <b>demo@playoday.com</b>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %> For demo access use: <b>rumbledemo</b>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div>
    <%= f.submit "Sign in", :class => "base_button" %>
    <%= render "/users/shared/links" %>
  </div>
<% end %>
</section>
