<table>
  <% @tournament.rounds.each do |round| %>
    <% if round == @tournament.rounds.last && @tournament.rounds.length == @tournament.total_rounds %>
      <tr>
        <th colspan="<%= @tournament.users.size %>">
          The Final
        </th>
      </tr>
    <% end %>
      <tr>
        <% round.matches.each do |match| %>
          <td colspan="<%= (@tournament.users.length / 2) / round.matches.length %>" class="<%=  match.home_player == match.winner ? "winner" : "looser" %>">
            <%= render :partial => "player", :object => match.home_player, :locals => {:size => "large"} %>
            <% if can? :update, match %>
              <%= link_to "enter game score", edit_tournament_match_path(@tournament.id, match.id), :class => "base_button" %>
            <% end %>
          </td>
          <td colspan="<%= (@tournament.users.length / 2) / round.matches.length %>" class="<%=  match.away_player == match.winner ? "winner" : "looser" %>">
            <%= render :partial => "player", :object =>  match.away_player, :locals => {:size => "large"}  %>
            <% if can? :update, match %>
              <%= link_to "enter game score", edit_tournament_match_path(@tournament.id, match.id), :class => "base_button" %>
            <% end %>
 
          </td>
        <% end %>
      </tr>
  <% end %>

  <% if @tournament.closed? && @tournament.winner %>
    <tr>
      <th colspan="<%= @tournament.users.length %>">
        Winner
      </th>
    </tr>

    <tr>
      <td colspan="<%= @tournament.users.length %>">
        <%= render :partial => "player", :object => @tournament.winner, :locals => {:size => "large"} %>
      </td>
    </tr>
  <% end %>
</table>
