<% if can? :manage, tournament  and tournament.pending? and action_name == "show" %>
  <p class="tournament_notice">Registration is open, players can sign up by following: <%= link_to register_tournaments_url(tournament.tournament_hash) %></p>
<% end %> 
<div class="tournament_summary <%= to_css_class(tournament.status) %> cf">
<div class="description">
  <h3><%= link_to tournament.name, tournament %></h3>
  <p><%= tournament.description %></p>
   <%= (link_to "edit tournament".html_safe, edit_tournament_path(tournament.id)) if can? :manage, tournament %>
</div>
    <div class="stats">
    Player Count: <span><%= tournament.users.size %></span><br/>
    Tournament Mode: <b><%=  tournament.swedish? ? "Swedish" : "Cup" %></b>
    <% if tournament.open? %>
      <div class="bar_container">
        <div class="bar_mortice">
          <div class="progress" style="width: <%= (tournament.rounds.length - 1).to_f / tournament.total_rounds.to_f * 100%>%;">
            <%= tournament.rounds.length - 1 %> / <%= tournament.total_rounds %>
          </div>
        </div>
      </div>
    <% end %>
</div>

  <% if tournament.open? && tournament.swedish? && action_name != "show" %>
    <div class="leaders">
      <b>Leaders:</b>
      <%= render partial: 'player', collection: tournament.top_three.map(&:player), :locals => {:size => ""} %>
    </div>
  <% elsif tournament.closed? && action_name != "show" && tournament.winner %>
    <div class="leaders winner">
      <b>Winner:</b>
      <%= render partial: 'player', object: tournament.winner, :locals => {:size => ""} %>
    </div>
  <% end %>
</div>
