<%= render partial: "application/notice" %>
<section class="tournaments_list">
<%= link_to "Create a new tournament", new_tournament_path, :class => "base_button"%>
<h2>Tournaments -
  <%= link_to "Open", tournaments_path,
    class: params[:all].blank? ? "selected" : nil %> /
   <%= link_to "All", tournaments_path(all: 'true'),
    class: params[:all].blank? ? "" : "selected" %>
  </h2>
<% if @tournaments.any? %>
  <ol>
    <% for tournament in @tournaments %>
      <li class="cf">
      <%= render :partial => "tournament", :object => tournament %>
      </li>
    <% end %>
  </ol>
<% else %>
  Nothing to show
<% end %>
</section>
