<section class="tournament_header <%= to_css_class(@tournament.status) %>">
<h2><%= @tournament.name %></h2>
<p><%= @tournament.description %></p>

<% if can? :manage, @tournament %>
  <%= link_to "Edit the tournament", edit_tournament_path(@tournament) %>
<% end %>
<%= @tournament.active_round %>/<%= @tournament.total_rounds %>
</section>

<section class="tournament_rounds">
<ul>
  <%= render :partial => "matchup", :collection => @matches, :locals => {:size => "large"} %>
</ul>
</section>

<section class="leaderboard">
<h2>Leaderboard</h2>
<ol>
  <%= render :partial => "player" %>
  <%= render :partial => "player" %>
  <%= render :partial => "player" %>
  <%= render :partial => "player" %>
</ol>
</section>
<div class="cf"></div>
