<section class="tournament_header <%= to_css_class(@tournament.status) %>">
<h2><%= @tournament.name %></h2>
<p><%= @tournament.description %></p>

<% if can? :manage, @tournament %>
  <%= link_to "Edit the tournament", edit_tournament_path(@tournament) %>
<% end %>
?/<%= @tournament.total_rounds %>
</section>

<section class="tournament_rounds">
<% if @tournament.game_type == 3 %>
<ul>
  <%= render :partial => "matchup", :collection => @matches %>
</ul>
<% else %>
  <%= render :partial => "cup" %>
<% end %>
</section>

<section class="leaderboard">
<h2>Leaderboard</h2>
<ol>
  <%= render :partial => "leader" %>
  <%= render :partial => "leader" %>
  <%= render :partial => "leader" %>
  <%= render :partial => "leader" %>
</ol>
</section>
<div class="cf"></div>
