<section class="tournament_header <%= to_css_class(@tournament.status) %>">
<h2><%= @tournament.name %></h2>
<p><%= @tournament.description %></p>

<% if can? :manage, @tournament %>
  <%= link_to "Edit the tournament", edit_tournament_path(@tournament) %>
<% end %>
<%= @tournament.active_round %>/<%= @tournament.total_rounds %>
</section>

<section class="tournament_rounds">
<ol>
  <%= render :partial => "matchup", :collection => @matches, :locals => {:size => "large"} %>
</ol>
</section>

<section class="leaderboard">

</section>
