<%= render partial: "application/notice", object: @tournament %>
<section class="tournament_header <%= to_css_class(@tournament.status) %>">
  <%= render :partial => "tournament", :object => @tournament %>
  </section>
<section class="tournament_rounds <%= 'cup' if @tournament.cup? %>">
<% if @tournament.pending? %>
  <h2>Participations</h2>
<div class="participants">
  <% if can?(:manage, @tournament) %>
    <% if @tournament.player_count_valid? %>
      <%= link_to "Start tournament", start_tournament_path(@tournament),
        :class => "base_button", :method => "post"%>
    <% else %>
      <span class="state">Not enough participants to start this tournament</span>
    <% end %>
  <% end %>
  <%= render partial: 'player', collection: @tournament.users, :locals => {:size => "large"} %>
  </div>
<% else%>
  <% if @tournament.open? && can?(:manage, @tournament) %>
    <% if @tournament.has_next_round? && @tournament.can_close_round? %>
      <%= button_to "Close round", next_round_tournament_path(@tournament),
        :class => "base_button"%>
    <% elsif @tournament.has_next_round? && !@tournament.can_close_round? %>
      <span class="state">Cannot close this round yet. All matches must be played first</span>
    <% elsif !@tournament.closable? %>
      <span class="state">Cannot close tournament. Matches of the last round must be played first</span>
    <% elsif @tournament.closable? %>
      <%= button_to "Close tournament", close_tournament_path(@tournament),
        :class => "base_button"%>
    <% end %>
  <% end %>

  <% if @tournament.swedish? %>
    <h2>Current round <small>(<%= @tournament.rounds.length %> / <%= @tournament.total_rounds %></small>)</h2>
    <ul>
      <%= render :partial => "matchup", :collection => @matches %>
    </ul>

    <% if @tournament.rounds.length > 1 %>
      <h2>Previous Rounds

        <% @tournament.rounds.to(@tournament.rounds.length - 2).each_with_index do |round, index| %>
          <%= link_to (index + 1),
            tournament_path(:id => @tournament.id, :round_id => round.id),
            :class => round.id.to_s == params[:round_id] ? "selected" : "" %>
        <% end %>
      </h2>

      <% if @previous_round %>
        <ul>
          <%= render :partial => "matchup", :collection => @previous_round.matches%>
        </ul>
      <% end %>
    <% end %>
  <% else %>
    <h2>Cup Status</h2>
    <%= render :partial => "cup" %>
  <% end %>
<% end %>
</section>

<% if !@tournament.pending? && !@tournament.cup? %>
<section class="leaderboard">
  <h2>Leaderboard</h2>
  <ol>
    <%= render partial: 'leader', collection: @tournament.leaderboard %>
  </ol>
</section>
<% end %>
<div class="cf"></div>
