<section class="tournament_header <%= to_css_class(@tournament.status) %>">
  <%= render :partial => "tournament", :object => @tournament %>
</section>

<section class="tournament_rounds">
<% if @tournament.game_type == 3 %>
<ul>
  <%= render :partial => "matchup", :collection => @matches %>
</ul>
<% else %>
  <%= render :partial => "cup" %>
<% end %>
</section>

<section class="leaderboard">
<h2>Leaderboard</h2>
<ol>
  <%= render :partial => "leader" %>
  <%= render :partial => "leader" %>
  <%= render :partial => "leader" %>
  <%= render :partial => "leader" %>
</ol>
</section>
<div class="cf"></div>
