<section class="tournament_header <%= to_css_class(@tournament.status) %>">
  <%= render :partial => "tournament", :object => @tournament %>
  <% if @tournament.pending? && can?(:manage, @tournament) %>
    <%= link_to "Start tournament", start_tournament_path(@tournament),
      :class => "base_button"%>
  <% end %>
</section>

<section class="tournament_rounds <%= 'cup' if @tournament.cup? %>">
<% if @tournament.swedish? %>
<h2>Current round</h2>
<ul>
  <%= render :partial => "matchup", :collection => @matches %>
</ul>
<% else %>
<h2>Cup Status</h2>
  <%= render :partial => "cup" %>
<% end %>
</section>

<% if !@tournament.cup? %>
<section class="leaderboard">
  <h2>Leaderboard</h2>
  <ol>
    <%= render partial: 'leader', collection: @tournament.leaderboard %>
  </ol>
</section>
<% end %>
<div class="cf"></div>
