<section class="tournament_header <%= to_css_class(@tournament.status) %>">
  <%= render :partial => "tournament", :object => @tournament %>
  <% if @tournament.pending? && can?(:manage, @tournament) %>
    <%= button_to "Start tournament", start_tournament_path(@tournament),
      :class => "base_button"%>
  <% end %>

  <% if @tournament.open? &&
       @tournament.has_next_round? &&
       @tournament.can_close_round? &&
       can?(:manage, @tournament) %>
    <%= button_to "Close round", next_round_tournament_path(@tournament),
      :class => "base_button"%>
  <% end %>
</section>

<section class="tournament_rounds <%= 'cup' if @tournament.cup? %>">
<% if @tournament.pending? %>
  <h2>Participations</h2>
  <div id="participants">
    <%= render partial: 'player', collection: @tournament.users %>
  </div>
<% else %>
  <% if @tournament.swedish? %>
    <h2>Current round <small>(<%= @tournament.rounds.length %> / <%= @tournament.total_rounds %></small>)</h2>
    <ul>
      <%= render :partial => "matchup", :collection => @matches %>
    </ul>
  <% else %>
    <h2>Cup Status</h2>
    <%= render :partial => "cup" %>
  <% end %>
<% end %>
</section>

<% if !@tournament.pending? && !@tournament.cup? %>
<section class="leaderboard">
  <h2>Leaderboard</h2>
  <ol>
    <%= render partial: 'leader', collection: @tournament.leaderboard %>
  </ol>
</section>
<% end %>
<div class="cf"></div>
