<section class="tournament_header <%= to_css_class(@tournament.status) %>">
  <%= render :partial => "tournament", :object => @tournament %>
</section>

<section class="tournament_rounds <%= 'cup' if @tournament.cup? %>">
<% if @tournament.swedish? %>
<ul>
  <%= render :partial => "matchup", :collection => @matches %>
</ul>
<% else %>
  <%= render :partial => "cup" %>
<% end %>
</section>

<% if !@tournament.cup? %>
<section class="leaderboard">
  <h2>Leaderboard</h2>
  <ol>
    <%#= render :partial => "leader" %>
    <%#= render :partial => "leader" %>
    <%#= render :partial => "leader" %>
    <%#= render :partial => "leader" %>
  </ol>
</section>
<% end %>
<div class="cf"></div>
