<section class="quick_intro">
<!-- Defining fun via playOday -->
<ul class="cf">
  <li>
  <%= image_tag "screen_1.png" %>
  <!-- Document Outlines: http://www.456bereastreet.com/archive/201104/html5_document_outline_revisited/ -->
  <h2>Signup</h2>
  </li>
  <li>
  <%= image_tag "screen_2.png" %>
  <h2>Gather</h2>
  </li>
  <li>
  <%= image_tag "screen_3.png" %>
  <h2>Play</h2>
  </li>
  <li>
  <%= image_tag "screen_4.png" %>
  <h2>Enjoy!</h2>
  </li>
</ul>
</section>
<section class="convert">
<div class="wrapper cf">
  <p>
  Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. 
  </p>
  <%= link_to "Sign up Now &raquo;".html_safe, new_user_registration_path,:class => "cta base_button" %>
</div>
</section>
<section class="testimonials">
<h2>People actually said about playOday:</h2>
<!-- Do not use divs everywhere. These are similar items and we should reflect this in the html. Yes I know this can be applied to pretty much all of the DOM. Do not argue with me in here. This is my code!! -->
<ul class="cf">
  <li>
  <blockquote>
    ... I lost 100 pounds in 3 days organizing my play days with playOday ...
  </blockquote>
  <cite>
    Jim Lerris
    <span>
      Author & Enterpreneur
    </span>
  </cite>
  </li>

  <li>
  <blockquote>
    I attribute all my racing achievements to playOday! What? ... yes I know I never actually finished a race...
  </blockquote>
  <cite>
    David Reinemacher Jenson
    <span>
      Python Core Developer
      </span>
  </cite>
  </li>

  <li>
  <blockquote>
    Ni, ni, ni, ni, ni, ni, ni, ni, ni...
  </blockquote>
  <cite>
    The knights who say ni
    <span>
      Killer knights
      </span>
  </cite>
  </li>

  <li>
  <blockquote>
    Tender Love Making at its best! Running my catfight championship on it...
  </blockquote>
  <cite>
    Guess Who
    <span>
      Cat affinado
    </span>
  </cite>
  </li>

</ul>
</section>
