<h2>Sign up</h2>

<%= form_for resource, url: registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>
  <% resource.companies.build if !resource.companies.present? %>
  <%= f.fields_for :companies do |cf| %>
    <div><%= cf.label :domain %><br />
    <%= cf.text_field :domain %></div>
  <% end  %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
